<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/AnimeciX" version="0.2.15" viewmodes="maximized">
   <name>AnimeciX</name>
   <icon src="icon.png"></icon>
   <content src="index.html"></content>
   <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"></feature>
   <access origin="*" subdomains="true"></access>
   <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"></tizen:setting>
   <tizen:application id="pCVunngjf2.AnimeciX" package="pCVunngjf2" required_version="4.0"></tizen:application>
   <tizen:privilege name="http://tizen.org/privilege/internet"></tizen:privilege>
   <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"></tizen:privilege>
   <tizen:metadata key="http://samsung.com/tv/metadata/prelaunch.support" value="true"></tizen:metadata>
   <tizen:profile name="tv-samsung"></tizen:profile>
</widget>
